<div class="max-w-5xl mx-auto lg:py-32 py-2">
    <h2 class+"lg:text-5xl text=4xl font-semibold text-white leading-none mb-4">Book
    a trip. Host travel. All airbnb</h2>
    <div class="flex items-center flex-wrap justify-start max-w-2xl lg:mx-0 mx-auto">
        <div class= "lg:pr-5 w-full lg:w1/2 mb-4 lg:mb-0">
            <p class="text-white mb-2 tracking-wide">Find to play to stay and things to do</p>
            <a href="#" class="transition bg-white px-10"></a>
        </div>
        <div></div>
    </div>

</div>

